@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
body {
  height: 100vh;
  font-size: 47px;
  text-align: center;
  font-weight: bold;
  color: #fff;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  z-index: 100;
}
.main-content .quote {
  font-family: "Caveat", cursive;
  max-width: 30ch;
}
.main-content .author {
  font-family: "Patrick Hand", cursive;
  margin-top: 1em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-content .author:before {
  content: "";
  display: inline-block;
  height: 0.5ch;
  width: 2ch;
  background: #6969ed;
  margin-right: 0.4em;
}

.imgs-wrapper {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  position: fixed;
  inset: 0;
}
.imgs-wrapper:before {
  content: "";
  position: absolute;
  inset: 0;
  background: #b50273;
  z-index: 2;
  opacity: 0.8;
}

.img-wrapper {
  --size: 250;
  position: absolute;
  inset: -200%;
  margin: auto;
  background-color: red;
  height: max(calc(var(--size) * 1vh), calc(var(--size) * 1vw));
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 50%;
}
.img-wrapper img {
  position: absolute;
  inset: -1000%;
  margin: auto;
  height: max(150vh, 150vw);
  aspect-ratio: 1;
  object-fit: cover;
}

.img-wrapper {
  animation: rotate 15s infinite alternate-reverse;
  animation-timing-function: cubic-bezier(0.68, -0.63, 0.53, 0.4);
}

.img-wrapper:nth-child(2) {
  --size: 200;
}

.img-wrapper:nth-child(2) {
  --size: 60;
}

.img-wrapper:nth-child(3) {
  --size: 40;
}

.img-wrapper:nth-child(4) {
  --size: 20;
}

@keyframes rotate {
  95%, 100% {
    transform: rotate(0.3turn) scale(1.6);
  }
}
.img-wrapper:nth-child(1) {
  animation-delay: calc(0 * -300ms);
}

.img-wrapper:nth-child(2) {
  animation-delay: calc(1 * -300ms);
}

.img-wrapper:nth-child(3) {
  animation-delay: calc(2 * -300ms);
}

.quote div {
  display: inline-block;
}
.quote span {
  display: inline-block;
  animation: moveLetter 2000ms infinite ease-in-out;
}
.quote span.empty {
  width: 1ch;
}

@keyframes moveLetter {
  50% {
    transform: translateY(10%) translateX(-50%);
  }
}